* {
  padding : 0px;
  margin : 0px;
}
.top-section {
  width: 95%; 
  min-height: 500px;
  height: 1000px;
  margin: auto; 
  margin-bottom: 40px;
  clear: both;
  padding: 150px 30px 0;
}
div#calendar {
  width: 50%;
  float: left;
}
table {
  width: 100%;
  height: 300px;
  /* border: 1px solid gray; */
}
div.yoil{
  text-align: center;
  font-size: 30px;
  font-weight: lighter;
  height: 50px;
}
div.year {
  font-size: 50px;
  font-weight: bold;
  color : rgb(128, 128, 128, 0.6);
  margin: 10px;
}
div#calendarContent {
  height: 500px;
  width: 100%;
  float: left;
}

div.month {
  display: inline-block;
  width: 100%
}
div.month .months li {
  list-style: none;
	float: left;
  text-transform: uppercase;
  font-size: 15px;
	text-align: center;
	width: 40px;
  margin-bottom: 20px;
}
.months li a {
	/* color: rgb(242, 128, 128, 0.4); */
	color: rgb(53, 177, 191, 0.4);
}
div.month .months li a:active{
  text-decoration: none;
}
div.month .months li a:hover{
  text-decoration: none;
}
div.month .months li a:focus{
  text-decoration: none;
}
div.month .months li .selected{
	font-weight: bold;
	color: #747978;
}
div.yoil .yoils li {
  list-style: none;
  float: left;
  text-align: center;
  width : 14.25%;
  /* color: rgb(242, 128, 128, 0.8) */
}
.yoil {
  float: left;
  width: 100%;
  border-bottom: 1px solid rgb(128, 128, 128, 0.3);
}
div.form {
  margin-top : 15px;
  width: 45%;
  float: right;
}
/* div.write {
  width : 45%;
  float: left;
  margin-left: 8%;
} */
div.submit {
  width: 100%;
  float: right;
  margin-bottom: 30px; 
}
table.submit,
table.submit td {
  height: auto;
  text-align: right;
 /*  border : 1px solid gray; */
  padding : 5px;
  font-size : 18px;
  vertical-align : top;
}
td.input-form {
  width: 25%;
}
table.submit td.checkbox {
	text-align : left;
	padding-left : 20px;
	margin : 0;
	font-size : 15px;
}
table.submit td button {
  float: right;
  margin : 3px;
  width: 50px;
  height: 30px;
  border-radius: 5px;
  font-size: 16px;
  color : white;
  background-color: rgb(65, 192, 142, 0.7);
  border-color : rgb(65, 192, 142, 0.7);
  font-family: 'Jua', sans-serif;
}
table.submit td.date {
  width : 20%;
  padding-top : 10px;
}
tr[class^='week'] td{
  width: auto;
  height: 100px;
  font-size : 20px;
  padding : 10px 10px;
  vertical-align: top;
}
tr[class^='week'] td a {
  /* color: rgb(242, 128, 128, 0.4); */
  color: rgb(128, 128, 128, 0.3);
}
tr[class^='week'] td a:hover {
  /* color: rgb(242, 128, 128, 0.4); */
  color: rgb(53, 177, 191);
}
tr[class^='week'] td:nth-child(7) a {
  color: rgb(29, 67, 99,0.5);
}
tr[class^='week'] td:nth-child(1) a {
  color: rgb(188, 44, 24, 0.5);
}
tr[class^='week'] td a:hover {
  text-decoration: none;
}
tr[class^='week'] td a:active {
  text-decoration: none;
}
tr[class^='week'] td a:focus {
  text-decoration: none;
}
tr[class^='week'] td.today {
  background-color : rgb(255, 194, 64,0.3);
}
tr[class^='week'] td.today a{
  color : rgb(128, 128, 128, 0.7)
}


table.writeform, table.writeform tr,
table.writeform td {
  /* border: 1px solid gray; */
}
table.writeform td {
  text-align: center;
  padding: 20px 5px 0;
  height: 20px;
  font-size: 24px;
}
table.writeform td.textarea {
  text-align: left;
  font-size: 16px;
}
table.writeform tr:nth-child(1){
  border-bottom: 1px solid rgb(128, 128, 128, 0.3);
}
th.up {
  text-align: center;
  font-size: 35px;
  font-weight: lighter; 
}

div.title.form-group {
  margin: 0;
}
div.form-group input:focus, div.form-group select:focus{
  border: 3px solid rgb(122, 194, 173, 0.3);
  box-shadow : none;
}

/* 모달 css */
div.modal-dialog {
  width : 70%;
  height: 90%;
  border-radius: 20px;
}
div.modal-content {
  position: relative;
  overflow: hidden;
  height: 103%;
  background-image : url("../../img/diary/diary2.png");
  /* background-size: 1350px auto;  */
  background-size: 115% auto; 
  background-repeat: no-repeat; 
  /* background-position: -100px; */
  background-position: -100px;
  /* transform: rotate(-10deg) */
}
 /*
div.modal-contet:before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top : -50%;
  left: -50%;
   0 0 no-repeat;
  background-size: 100% auto; 
  background-repeat: no-repeat; */
  /* background-position: bottom; 
  z-index: 10;

} */
/* div.modal-content::before {
  position: absolute;
  width: 70%;
  height: 90%;
  z-index: 1;
} */
.modal {
  text-align: center;
}
.modal .modal-center {
 margin: 20px auto;
}
.modal-dialog.modal-center {
  display: inline-block;
  text-align: left;
  vertical-align: middle
}
.modal-header {
  height: 50px;
  padding: 10px;
}
h3.header {
  margin: 0 30px;
  color: rgb(29, 67, 99)
}
div.diaryList {
  width : 550px;
  height: 750px;
  /* border: 1px solid gray; */
  margin: 10px auto 0;
  overflow: scroll;
  padding : 10px;
  /* transform: skew(0deg, 10deg); */
}
.close {
  float: left;
}
div.diary {
  clear: both;
  margin : 10px 10px;
  width : 90%;
}
div.dr-title {
  padding-bottom : 5px;
  border-bottom : 1px solid  rgb(128, 128, 128, 0.3);
  width: 100%;
}
span.label {
  margin: 10px;
  /* display: inline-block; */
  border-radius: 5px; 
  font-size : 11px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
span.title {
  color : rgb(94, 94, 94);
  font-size : 24px;
}
span.date {
  color : rgb(94, 94, 94, 0.5);
  font-size : 15px;
}
span.label-share {
  background-color: rgb(65, 192, 142);
}
span.label-friend {
  background-color: rgb(255, 194, 64);
}
span.label-noshare {
  background-color: rgb(247, 117, 78);
}
div.dr-content {
  padding : 15px 20px 0px;
  font-size : 20px;
}
div.buttons {
  height: 40px;
  /* border-bottom :1px solid  rgb(128, 128, 128, 0.3) */
}
div.button-box {
  float: right;
  margin-right: 10px 
}
button[class^='dr-']{
  width : 40px;
  height: 25px;
  border-radius: 5px;
  color : gray;
  border-color: gray;
  margin-right : 10px;
  background-color: transparent;
}
button[class^='dr-']:hover {
  color : black;
}
/* button.dr-delete {
  background-color : rgb(213, 145, 106);
}
button.dr-update {
  background-color : rgb(120, 190, 151);
} */
a[data-toggle] span {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 5px;
  margin-right: 4px; 
  margin-bottom : 4px;
  background-color: salmon;
}

div.updateform {
	display : inline-block;
	margin-left : 10px;
}
.updateform input[type='radio'] {
	margin-left : 10px;
	margin-right : 8px;
}
button.dr-updatecomplete{
	width : 80px;
}
div.updatebutton-box {
  float: right;
  margin-right: 10px; 
}

.dr-content.update {
  text-align: left;
  font-size: 14px;
}
