body{
 background-color: #fafafa;
}
.mainContainer{
    margin-top: 104px;
    width: 100%;
    padding: 20px;
    min-height: 600px;
}
.contentsContainer{
    
    margin: auto;
    width: 63%;
   
}
.left{
    
    float: left;
    width: 60%;
    min-height: 140px;
}


.contentContainer{
    /*margin-top�� 洹몃깷 援щ텇�쓣 �쐞�빐�꽌 �굹以묒뿉 吏��썙�몢 �맂�떎.*/
    margin-top: 20px;
    width: 100%;
    min-height: 140px;
    border-bottom: 1px solid #efefef;

}

.mid{
    
    border: 1px solid #efefef;
    min-height: 140px;
    background-color: white;
}
.bottom{
    BACKGROUND-COLOR: WHITE;
    padding: 16px;
    padding-right: 20px;
    bottom: 0;
    border-bottom: 1px solid #efefef;
    height: 50px;
    vertical-align: bottom;
}

/*�슦痢� �뒪�겕濡ㅽ븷�떆 ��吏곸씠�뒗 遺�遺꾨뱾 fixed*/

.profileAndName{
   
    padding-bottom: 10px;
    margin-top: 145px;
    right: 0;
    top: 0;
    margin-right: 300px;
    position: absolute;
    position: fixed;
    width: 310px;
    height: 60px;
    
}

/*�슦痢� �긽�떒 �봽濡쒗븘 �궗吏� �궗�씠利� 議곗젅*/
.imgSize{
    border: 1px solid #e6e6e6;
    margin-top: 5px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
/*�슦痢� �긽�떒 �쑀���씠由� �겕湲�, �몢猿� 議곗젅*/
.userName{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    padding-left: 10px;
    color: #262626;
    font-weight: 600;
}

.writeForm{
    
    margin-top: 128px;
    right: 0;
    top: 0;
    margin-right: 300px;
    position: absolute;
    position: fixed;
    width: 310px;
    height: 160px;
    border: 1px solid rgb(226, 219, 219);
    background-color: white;
    border-radius: 5px;
}
.containSizeControl{
    padding: 20px;
}
.decoration{
    
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    height: 15px;
    background-color: rgb(65, 192, 142, 0.7);
    


}
.decoration2{
    text-align: center;
    font-family: Do Hyeon;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 900;
    line-height: 21px;
    overflow-wrap: break-word;
    
    
}
.decoration3{
    font-family: Do Hyeon;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    line-height: 21px;
    overflow-wrap: break-word;
}
.writeBtn{
    padding-top: 1px;
    margin-left: 31px;
    border: 1px solid black;
    width: 202px;
    height: 34px;
    display: block;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 32px;
    text-transform: uppercase;
    background-color: rgb(65, 192, 142,0.7);
    color: rgb(255, 255, 255);
    fill: rgb(255, 255, 255);
    border-color: #6BF3D9;
    border-radius: 10px;
    font-family: Do Hyeon;
}

.putSomething{
    padding: 14px;
    margin-top: 308px;
    right: 0;
    top: 0;
    margin-right: 300px;
    position: absolute;
    position: fixed;
    width: 310px;
    height: 134px;
    border: 1px solid rgb(226, 219, 219);
    background-color: white;
    border-radius: 5px;
}
.mnFooter{
    color: #c7c7c7;
    padding-left: 10px;
    margin-top: 460px;
    right: 0;
    top: 0;
    margin-right: 300px;
    position: absolute;
    position: fixed;
    width: 310px;
    height: 160px;
   
}
/*而⑦뀗痢� �긽�떒  �봽濡쒗븘 �씠由� �궇吏� 遺�遺� css*/
.locationC {
    margin-top: -15.5px;
    margin-bottom: 4px;
}
/*�궇吏� �떆,遺꾧퉴吏� �꽔�뒗�떎硫�*/
.regDate{
    color: rgb(204, 204, 204);
    /* position: absolute;
    padding-top: 20px;
    padding-left: 293px; */
}

/*而⑦뀗痢� �븯�떒 �뙎湲�, 議고쉶�닔, 移댄뀒怨좊━ �뱾�뼱媛� 遺�遺� css*/
.category{

	width: auto;
    height: 20px;
    color: black;
    font-size: 12px;
    font-family: 'Jua';
    font-weight: 100;
}
.forCnt{
    float: right;
    color: gray;
}
.commentCnt{
    margin-left: 30px;
    float: left;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Noto Sans KR', sans-serif;
}
.viewCnt{
    float: right;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Noto Sans KR', sans-serif;
}

/*移댄뀒怨좊━ select*/
.select {
  position: relative;
  display: block;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: .25em;
}
select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 .5em;
  color: black;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}
/* Arrow */
.select::after {
  border-top: 1px solid rgb(226, 219, 219);
  border-right:  1px solid rgb(226, 219, 219);
  border-bottom:  1px solid rgb(226, 219, 219);

  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: white;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}
.select::after {
  transition: .25s all ease;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;

  border: 1px solid rgb(226, 219, 219);
  background-color: white;
  background-image: none;
}
#slct{
    font-weight: 600;
   font-size: 15px;
   font-family: 'Noto Sans KR', sans-serif;
}
.forContent{
    padding: 16px;
}
.title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 30px;
    font-size: 30px;
    font-weight: 600;

    
}
.content{
font-size: 16px;
line-height: 30px;
}
/*而⑦뀗痢좎뿉�꽌 img css*/
.forImg{
   width: 100%;
}
.forImg2{
	width: 100%;
}

body{
background-color: #fdfdfd;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
 header.dogcat{
 margin: 0 auto; 
  font-family: 'Jua', sans-serif;
  }
.category{
	text-align:right;
    float: right;
    font-size: 16px;
    color: gray;
    font-family: 'Jua';
    font-weight: 100;
    margin-top: -38px;
    margin-right:7px;
	
}
.profileAndName{
   
    padding-bottom: 10px;
    margin-top: 145px;
    right: 0;
    top: 0;
    margin-right: 300px;
    position: absolute;
    position: fixed;
    width: 310px;
    height: 60px;
    
}
/*�뜑蹂닿린 css*/
.showMore{

width: 650px;
height: 100%;
padding-left: 34.2%;

}
.showMore2{
width: 650px;
height: 100%;
padding-left: 34.2%;


}
#bubbly-button {
font-size: 16px;
      font-family: Do Hyeon;
  text-align: center;
    background-color: rgb(65, 192, 142, 0.7);
  display: inline-block;
    height: 37px;
    width: 105px;
  margin-top: 30px;
  margin-bottom: 30px;
  -webkit-appearance: none;
  appearance: none;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px  rgb(65, 192, 142, 0.7);
  font-weight: 500;
}
#bubbly-button:focus {
  outline: 0;
}
#bubbly-button:before, .bubbly-button:after {
  position: absolute;
  content: '';
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}
#bubbly-button:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 20%, #ff0081 20%, transparent 30%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
#bubbly-button:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
#bubbly-button:active {
  transform: scale(0.9);
  background-color: rgb(65, 192, 142, 0.7);
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}
#bubbly-button.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}
#bubbly-button.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}
.displayNone{
display: none;
}
.heart {
float:left;
  width: 100px;
  height: 100px;
  background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
   	margin-top: -40px;
    margin-left: -39px;
}
.heart.is-active {
  transition-duration: 1s;
  background-position: -2800px 0;
} 


.top1{
    border-bottom: 1px solid #efefef;
    BACKGROUND-COLOR: WHITE;
    top: 0;
	
}
.top{
height :0px;
}
.forImg3{
width : 100% !important;
heigth : 100%;

}




/*梨꾪똿濡쒓퀬*/



