.container{
margin-top: 120px;
width: 100%;
height: 100%;

padding-left : 10%;
padding-right : 10%;
}
.secondContainer{
width: 100%;
height : 100%;
}
.left{
    float: left;
    
    width: 28%;
    height: 100%;
}
.center{
    float : left;
    padding-left: 80px;
    padding-right: 80px;
    width: 44%;
    height : 100%;

}
.forLine{
    width: 98%;
}

.forLine2{
    margin-top: 130px;
    width: 98%;
}
.title2{
    float: left;
    /* padding-top: 22px; */
    margin-bottom: 16px;
    font-family: 'Jua', sans-serif;
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
}

.btn2 {
  
    font-family: 'Jua', sans-serif;
   
    margin-top: 20px;
    color: #ffffff;
    float: right;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background: #f2809f;
}

.btn3 {

    font-family: 'Jua', sans-serif;
   
    margin-top: 20px;
    color: #ffffff;
    float: right;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background: #f2809f;
}
.btn4 {
    font-family: 'Jua', sans-serif;
   
    margin-top: 20px;
    color: #ffffff;
    float: right;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background: #f2809f;
}

.btn5 {
    font-family: 'Jua', sans-serif;
   
    margin-top: 20px;
    color: #ffffff;
    float: right;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background: #f2809f;
}

.btn6 {
    font-family: 'Jua', sans-serif;
   
    margin-top: 20px;
    color: #ffffff;
    float: right;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background: #f2809f;
}
.btn7 {
    font-family: 'Jua', sans-serif;

    margin-top: 20px;
    color: #ffffff;
    float: right;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background: #f2809f;
}
.crowdImg {
    border-radius: 5px;
    
}
div.progress-bar {
    background-color: #f2809f;
	min-width:5%;
	max-width:100%;
}
.fontp {
    
    text-align: left;
    font-size: 16px;
    line-height: 1.625em;
    font-weight: 700;
    font-family: "Noto Sans KR", sans-serif;
    -webkit-font-smoothing: antialiased;
    word-break: keep-all;
    color: #b2adad;
}
.fontp2{
    margin-top: -16px;
    text-align: left;
    font-size: 16px;
    line-height: 1.625em;
    font-weight: 700;
    font-family: "Noto Sans KR", sans-serif;
    -webkit-font-smoothing: antialiased;
    word-break: keep-all;
    color: #b2adad;
    
}
.pclass {
    color: gray;
    font-size: 15px;
    font-family: Jua;
}
.caption2 {
   margin-top: 15px;
    font-weight: bold;
    text-align: left;
    line-height: 1em;
   
    width: 100px;
    display: table-caption;
}
hr.forhr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #cfc8c8;
}
.caption {
    font-weight: bold;
    text-align: left;
    line-height: 1em;
    width: 100px;
    display: table-caption;
}
tbody{
        display: table-row-group;
        vertical-align: middle;
        border-color: inherit;
    }
    .main-items table{
        margin-bottom: 20px;
        table-layout: fixed;
        width: 100%;
        border-collapse: collapse;
        border: 0;
        border-top: 1px solid #111111;
        border-bottom: 1px solid #111111;

        border-spacing: 2px;
    }
    .main-items table th{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 80px;
        padding-right: 10px;
        position: relative;
        
        font-weight: 500;
        border: 0;
        height: 36px;
        font-size: 15.6px;
        text-align: center;
        
    }
    p{
        line-height: 6.5px;
      
    }

 .gold{
    color: gold;
    
    }
    .silver{
    color: silver;
    }
    .bronze{
    color: brown;
    }
    .caption{
        font-weight: bold;
        text-align: left;
        line-height: 1em;
        width: 100px;
        display: table-caption;
    }
    .caption2{
        font-weight: bold;
        text-align: left;
        line-height: 1em;
        margin-bottom: -15px;
        width: 100px;
        display: table-caption;
    }

.forLine4{
    width: 98%;
}
.pclass{
color: gray;
 line-height: 20px;
}
.fordiary{
width: 350px;
}
.forlinefor:after{

	display: block;
	clear: both;
	content:'';
}
.pclass{
color: gray;
 line-height: 20px;
}
.forlinefor{
margin-bottom: -24px;
}
.forimg{
margin-top: 60px;
}

.clear-fix{
	clear: both;
}


/* Ã¤ÆÃ */
.chat-launcher {
position: fixed;
bottom: 20px;
right: 20px;
width: 60px;
height: 60px;
z-index: 9999;
background: orange;
color: white;
border-radius: 50%;
cursor: pointer;
box-shadow: 0 1px 6px rgba(0, 0, 0, 0.06), 0 2px 32px rgba(0, 0, 0, 0.16);
}
.chat-launcher:before, .chat-launcher:after {
font-family: FontAwesome;
font-size: 34px;
position: absolute;
-webkit-transition: transform 180ms linear, opacity 130ms linear;
transition: transform 180ms linear, opacity 130ms linear;
}
.chat-launcher:before {
content: "\f086";

margin: 6px 0px 0px 13px;
opacity: 1;
-webkit-transform: rotate(0deg) scale(1);
transform: rotate(0deg) scale(1);
}

/*Ã­ÆÃ  */
.chat-launcher:after {
content: "\f00d";
padding-top: 20px;
margin: 13px 17px;
opacity: 0;
-webkit-transform: rotate(-30deg);
transform: rotate(-30deg);
}
.chat-launcher:hover {
background: #ffb329;
}
.chat-launcher.active:before {
opacity: 0;
-webkit-transform: rotate(70deg) scale(0);
transform: rotate(70deg) scale(0);
}
.chat-launcher.active:after {
opacity: 1;
-webkit-transform: rotate(0deg);
transform: rotate(0deg);
}