.no-area,
.name-area,
.active-area,
.id-area,
.point-area,
.grade-area {
  float: left;
  text-align: center;
  margin: 5px;
  width: 8%;
}

.select-area {
    	float: left;
    	width: 30%;
    	padding-right: 5px;
	}

.sign-area,
.recent-area {
  float: left;
  text-align: center;
  margin: 5px;
  width: 15%;
}
.search-area {
  float: right; 
  margin:0;
}

.search, .btn-area {
    	float: left;
    	margin-right: 5px;
    	margin-bottom: 30px;
    }

.ui-tabs-panel {
		height: 600px;
		overflow: scroll;
		overflow-x: hidden;
	}
	
.content-area {
		margin-bottom: 5px;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
	font-family: 'Jua', sans-serif;
}


#header-area a { text-decoration: none; }
#header-area a { text-decoration: none; color: black;}
#header-area a { text-decoration: none; color: black;}