.main-title a { text-decoration: none; color: black;}
.main-title a:link {text-decoration: none; }
.main-title a:hover {text-decoration: none;}
.main-title a:visited {text-decoration: none; }

.top-section {
    margin-top:50px;
}

.top-section, 
.bottom-section {
    width: 80%; 
    margin: 0 auto; 
    clear: both;
}

.main-image {
    margin-top: 110px;
    width: 100%; 
    height: auto; 
    float: left;
}

.main-image img {
    width: 100%; 
    border-bottom: 3px solid #77a466;
    border-top: 3px solid #77a466;
}

.main-title {
    margin-top: 40px;
    height: auto; 
    float: left;
}

.main-title p {
    padding: 0px; 
    line-height: 25px; 
    font-size: 16px;
}

.section-one {
    width: 100%; 
    height: auto; 
    min-height: 700px;
    float: left; 
    border-top: 1px solid #eee;
    text-align: center;
}

.section-one h4 {
    padding: 10px 0px;
}

.section-two h4, 
.section-three h4 {
    padding: 10px 30px;
}

.menu {
    list-style: none; 
    padding: 0px;
}

.menu li {
    padding: 10px 0; 
    color:#77a466;
}

.reviews {
    color: #333; 
    line-height: 21px; 
    font-size: 16px;
}

.address {
    font-size: 16px; 
    line-height: 24px;
}

#button-area {
	margin-bottom:70px;
}

#list-button-area {
	float: left;
	margin-left: 30px;
}

#write-button-area {
	float: right;
	margin-left: 30px;
}

thead > tr > td:nth-child(2), tbody tr td:nth-child(2) {
	width:50%;
}


