
.top-section, 
.bottom-section {
    width: 80%; 
    margin: 0 auto; 
    clear: both;
}

.main-image {
    margin-top: 110px;
    width: 100%; 
    height: auto; 
    float: left;
}

.main-image img {
    width: 100%; 
    border-bottom: 3px solid #77a466;
    border-top: 3px solid #77a466;
}

.main-title {
    width: 100%; 
    height: auto; 
    float: left;
}

.main-title p {
    padding: 0px; 
    line-height: 25px; 
    font-size: 16px;
}

.section-one {
    width: 100%; 
    min-height: 700px;
    height: auto; 
    float: left; 
    border-top: 1px solid #eee;
    text-align: center;
}

.section-one h4 {
    padding: 10px 0px;
}

.section-two h4, 
.section-three h4 {
    padding: 10px 30px;
}

.menu {
    list-style: none; 
    padding: 0px;
}

.menu li {
    padding: 10px 0; 
    color:#77a466;
}

.reviews {
    color: #333; 
    line-height: 21px; 
    font-size: 16px;
}

.address {
    font-size: 16px; 
    line-height: 24px;
}

#left-area {
    float: left;
}

#right-area {
    float: right;
}

#notice-area {
    margin-top:100px;
}

#button-area {
    margin: 20px;
}

.panel {
    box-shadow: none;
}