* {
  padding : 0px;
  margin : 0px;
}
html, body {
	/* max-width: 1200px;  */
	margin: 0 auto; 
  font-family: 'Jua', sans-serif;
}
header {
  width: 100%;
}
div.title {
  background: white;
  color: rgb(128, 128, 128, 0.6);
  height: 100px;
  line-height: 60px;
  padding: 10px;
}
h1{
 font-weight: lighter;
}
div.title {
  float: left;
}
div.animate {
  float: right;
  margin-right : 150px;
}
div.content, div.result {
  text-align: center;
  clear: both;
}
img {
  z-index: 1;
  position: absolute;
  width:120px;
  height:auto;
}
table.payment, table.impUid, 
table.detailpay, table.detailpoint {
  margin: 30px auto;
  width: 60%;
  text-align: center;
  border-collapse: collapse;
  /* border: 1px solid rgb(128, 128, 128, 0.6); */
}
tr {
  height: 50px;
  vertical-align: middle;
  border-bottom : 1px solid rgb(128, 128, 128, 0.6);
}
tr:hover {
  background-color: rgb(255, 194, 64, 0.2)
}
input[type='radio'] {
  margin: 5px;
}
.no1 {
  width: 70px;
}
tr.buttons {
  text-align: right;
  height: 70px;
  border-bottom: none;
}
tr.title:hover, tr.buttons:hover {
  background: none;
}
tr.title{
  border-bottom: 2px solid rgb(128, 128, 128);
  text-align: center;
}
/* td {
  border : 1px solid black;
} */

button {
  margin : 3px;
  width: 80px;
  height: 40px;
  border-radius: 5px;
  font-size: 16px;
  color : white;
  background-color: rgb(65, 192, 142, 0.7);
  border-color : rgb(65, 192, 142, 0.7);
  font-family: 'Jua', sans-serif;
  float: right;
}

button:hover {
  background-color: rgb(65, 192, 142);
  border-color : rgb(65, 192, 142);
}
button:focus {
  background-color: rgb(65, 192, 142, 0.7);
  border-color : rgb(65, 192, 142, 0.7);
}
button:active {
  background-color: rgb(65, 192, 142);
  border-color : rgb(65, 192, 142);
}

.hidden {
  display: none;
}
.show {
  display: block;
}

div.resultTitle {
  margin-top: 20px;
  font-size: 28px;
  color: rgb(242, 128, 128);
}

span.name{
  font-size: 36px;
  color : gray;
}
table.impUid.result {
  border-collapse: collapse;
  width: 40%;
  /* border: 3px solid gray; */
  border-radius: 10px;
}
table.impUid.result tr:first-child{
  height: 45%;
  background: rgb(127, 127, 127, 0.3);
  border-bottom : none;
}
td.uid {
  font-size: 20px;
  border-radius: 10px 10px 0 0  ;
}
td.uiddetail {
  font-size: 28px; 
  border-radius: 0 0 10px 10px;
}
table.detailpay.result
,table.detailpoint.result {
  width: 50%;
}
table.detailpay.result td:first-child,
table.detailpoint.result td:first-child{
  text-align: left;
  color : gray;
  padding-left: 10px;
  font-size: 20px; 
}
table.detailpay.result td:last-child,
table.detailpoint.result td:last-child {
  text-align: right;
  padding-right: 10px;
  font-size: 20px; 
}

table.detailpay.result td:first-child {
  text-align: left;
  color : gray;
  padding-left: 10px;
  font-size: 20px; 
}
tr.first {
  border-bottom : none;
}
table.detailpoint.result tr:nth-child(1), 
table.detailpoint.result tr:nth-child(2) {
  height: 36px;
}
table.detailpoint.result tr.buttons img {
  display: inline-block;
}

