#remoteVideo.media-container {
	position : absolute;
	z-index :10;
	border: none;
   	border-radius: 8px;	
}
#localVideo.media-container {
	position : absolute;
	top : 20px;
	left : 20px;
	z-index :20;
	border: none;
   	border-radius: 8px;	
   	background : #333333;
}
.loading {
	width : 500px;
	height : 500px;
	z-index : 1;
	position : absolute;
	display : inline-block;
	background-color : white;
}
 #setup-room {
	/* visibility : hidden; */
	position : absolute;
	display : inline-block;
}
.setup, #conference-name {
	visibility : hidden;
}
div.ment {
	width : 1000px;
	margin : auto;
	margin-top : 300px;
	border : 1px solid black;
	}
	
.hidden {
	display : none;
}
.show {
	display : block;
}
/* .loading {
	width : 500px;
	margin : auto;
} */