#remoteVideo.media-container {
	position : absolute;
	z-index :-1;
	border: none;
   	border-radius: 8px;	
}
#localVideo.media-container {
	position : absolute;
	top : 20px;
	left : 20px;
	border: none;
   	border-radius: 8px;	
   	background : #333333;
}
 #rooms-list tr {
visibility : hidden;
} 
 #setup-room {
	visibility : hidden;
}
.loading {
	width : 500px;
	margin : auto;
}