body{
    background-color:white;
    font-size: 16px;
        line-height: 1.625em;
        font-weight: 300;
        
        -webkit-font-smoothing: antialiased;
        word-break: keep-all;
    
    }
    tr{
        display: table-row;
        vertical-align:inherit;
        border-color: inherit;
    }
    div{
        display: block;
    }
    .main-visual-container{
        min-height: 50px;
        min-width: 1076px;
        width:100%;
        height:100%;
        background-color: white;
    }
    .main-container{
        min-width: 1076px;
        width: 1076px;
        margin: 0 auto;
        font-family: 'Noto Sans KR', sans-serif;
    
    }
     .main-column{
        float: left;
        width:320px;
        margin-right:58px;
        font-family: 'Noto Sans KR', sans-serif;
    }
    .main-items{
        margin-top: 80px;
    }
    .main-items2{
        margin-top:40px;
        
        
    }
    .main-column3{
        float: left;
        width:320px;
        margin-right: 0;
    
    }
    .main-items h2{
        /*�뿬湲곗닔�젙*/
        /* padding-top: 22px; */
        margin-bottom: 16px;
        font-family: 'Jua', sans-serif;
        font-size: 36px;
        line-height: 42px;
        font-weight: 400;
    }
    .fontp{
        font-size: 16px;
        line-height: 1.625em;
        font-weight: 300;
        font-family: "Noto Sans KR", sans-serif;
        -webkit-font-smoothing: antialiased;
        word-break: keep-all;
        color: gray;
    }
    .caption{
        font-weight: bold;
        text-align: left;
        line-height: 1em;
        width: 100px;
        display: table-caption;
    }
    .caption2{
        font-weight: bold;
        text-align: left;
        line-height: 1em;
        margin-bottom: -15px;
        width: 100px;
        display: table-caption;
    }
    tbody{
        display: table-row-group;
        vertical-align: middle;
        border-color: inherit;
    }
    .main-items table{
        margin-bottom: 20px;
        table-layout: fixed;
        width: 100%;
        border-collapse: collapse;
        border: 0;
        border-top: 1px solid #111111;
        border-bottom: 1px solid #111111;
    
        border-spacing: 2px;
    }
    .main-items table th{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 80px;
        padding-right: 10px;
        position: relative;
        
        font-weight: 500;
        border: 0;
        height: 36px;
        font-size: 15.6px;
        text-align: center;
        
    }
    p{
        line-height: 6.5px;
      
    }
    .btn{
        margin-top: 40px;
        display: inline-block;
        min-width: 150px;
        padding: 14px 20px;
        font-size: 14px;
        line-height: 1em;
        color: #ffffff;
        text-decoration: none;
        background: #f2809f;
        font-weight: bold;
        text-align: center;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    .fordiary{
       
        width: 320px;
        height:200px;
    }
    .formargin{
        margin-top: 50px;
    }
    hr{
        margin-bottom: 10px;
        margin-top: 10px;
    }
    /*梨꾪똿 濡쒓퀬!*/
    
    
    .chat-launcher {
      position: fixed;
      bottom: 20px;
      right: 20px;
      width: 60px;
      height: 60px;
      z-index: 9999;
      background: orange;
      color: white;
      border-radius: 50%;
      cursor: pointer;
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.06), 0 2px 32px rgba(0, 0, 0, 0.16);
    }

    .chat-launcher:hover {
      background: #ffb329;
    }
   
    
    .chat-wrapper {
      height: 430px;
      width: 385px;
      display: block;
      border-radius: 5px;
      background: #ebebeb;
      position: fixed;
      right: 20px;
      bottom: 110px;
      z-index: 999;
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.06), 0 2px 22px rgba(0, 0, 0, 0.16);
      -webkit-transition: transform 400ms ease;
      transition: transform 400ms ease;
      -webkit-transform: translateY(130%);
      transform: translateY(130%);
    }
    
    /*硫붾떖 �깋源�*/
    .gold{
    color: gold;
    
    }
    .silver{
    color: silver;
    }
    .bronze{
    color: brown;
    }
    div.progress-bar{
        background-color: #f2809f;
    }
    
    .crowdImg{
        border-radius: 5px;
    }
    .leftRight1{
    float: left;
    }
    .leftRight2{
        float: right;
    
    }
    .btn1{
        margin-left: 107px;
        margin-top: 19px;
        color: #ffffff;
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        background: #f2809f;
    }
    .btn2{
        margin-left: 68px;
        margin-top: 20px;
        color: #ffffff;
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        background: #f2809f;
    }
    .btn3{
        margin-left: 120px;
        margin-top: 20px;
        color: #ffffff;
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        background: #f2809f;
    }
    .font2{
        margin-top: 10px;
        font-family: 'Jua';
        font-size: 36px;
        line-height: 42px;
        font-weight: 400;
    }
    .btn4{
        margin-left: 38.5px;
        margin-top: 20px;
        color: #ffffff;
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        background: #f2809f;
    }
    .btn5{
        margin-left: 197px;
            margin-top: 20px;
            color: #ffffff;
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
            background: #f2809f;
    }
    
    
    
    