.top-section {
  width: 90%; 
  min-height: 500px;
  height: 1000px;
  margin: auto; 
  margin-bottom: 40px;
  clear: both;
  padding: 150px 50px 0;
}
/* nav-tab*/
div.tab-menu .nav {
  display: inline-block;
  float: left;
  width: 100%;
}
ul.nav-tabs a.tab{
  color : rgb(122, 194, 173);
  font-size: 20px;
}
.nav-tabs>li.active>a.tab {
  color : rgb(128, 128, 128, 0.8);
}
div.tab-content {
  margin : 100px 0;
}
div.searchbox {
  width : 35%;
  margin-top: 20px;
  float: right;
}
div.input {
  width : 45%;
  float: left;
}
div.select {
  width : 30%;
  float: left;
  margin-left: 10px; 
}
div.button button{
  float: right;
  background-color: rgb(65, 192, 142, 0.7);
  border-color : rgb(65, 192, 142, 0.7);
}
div.button button:hover {
  background-color: rgb(65, 192, 142);
  border-color : rgb(65, 192, 142);
}
div.button button:focus {
  background-color: rgb(65, 192, 142, 0.7);
  border-color : rgb(65, 192, 142, 0.7);
}
div.button button:active {
  background-color: rgb(65, 192, 142);
  border-color : rgb(65, 192, 142);
}
div.form-group input:focus, div.form-group select:focus{
  border: 3px solid rgb(122, 194, 173, 0.3);
  box-shadow : none;
}
div.list {
  position: relative;
  clear: right;
  display: inline-block;
  width : 100%;
  height: 750px;
  margin: 20px auto;
  overflow: scroll;
}
div[class^='line'] {
  width: 100%;
  height: 320px;
  padding: 10px;
  margin: 10px;
}
div.users {
  border-radius: 10px;
  /* border : 1px solid gray; */
  width: 20%;
  height: 200px;
  background-color: white;
}
div.users:nth-child(1) {
  float: left;
  margin :auto;
  position: relative;
  transition-duration: 0.5s;
}
div.users:nth-child(2) {
  float: left;
  margin : 0 6%;
  transition-duration: 0.5s;
}
div.users:nth-child(3) {
  float: left;
  margin : 0 6% 0 0;
  transition-duration: 0.5s;
}
div.users:nth-child(4) {
  float: left;
  margin : auto;
  transition-duration: 0.5s;
}
div.users:hover {
  border-bottom : 8px solid rgb(128, 128, 128, 0.5);
  height: 300px;
  background-color: rgb(102, 205, 170, 0.5);
}
div.users:hover div.profile i.fa-user-circle{
  color : white;
  text-shadow: 3px 3px 30px rgb(77, 182, 147)
}
div.profile {
  text-align: center;
}
div.users:hover div.image {
  box-shadow: 3px 3px 30px rgb(77, 182, 147);
}
div.image {
  margin : 20px 0 10px 0 ;
  width: 110px;
  height: 110px;
  margin: 15px auto;
  border-radius: 55px;
  overflow: hidden;
  transition-duration: 0.5s;
}
div.profile i.fa-user-circle {
  color: rgb(128, 128, 128, 0.5);
  transition-duration: 0.5s;
  text-shadow: #fff498
  /* border: 5px solid gray; */
}
div.info {
  text-align: center;
  margin: 10px 0 0 0 ;
}
/* div.users:hover i.fa-envelope, 
div.users:hover i.fa-user-plus {
  color :rgb(102, 205, 170, 0.7)
} */
i.fa-envelope, 
i.fa-user-plus, 
i.fa-address-book, 
i.fa-comments,
i.fa-lock,
i.fa-lock-open,
i.fa-user-slash { 
  display: inline-block;
  color: white;
  margin: 10px;
  transition-duration: 0.5s;
}
div.grade {
  color : white;
  font-size: 20px;
  font-weight: bold;
  margin: 15px;
}
/* div.image.login {
  border : 3px solid gold;
} */
span.online {
  transition-duration: 0.5s;
  animation-name : online;
  animation-duration: 0.7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  display: inline-block;
  position: absolute;
  left: 10%;
  width: 10px;
  height: 10px;
  border-radius : 5px;
  background: green;
  z-index: 1;
}
div.users:hover span.online {
  

}
i#hidden {
  display: none;
}
i#show {
  display: inline-block;
}
@keyframes online {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/*paging */
.pagination {
	display : inline-block;
}
.pagination a {
	color : black;
	float: left;
	padding : 8px 16px;
	text-decoration: none;
	position: relative;
	text-align: center;
}
.pagination a.active {
	background-color : #4caf50;
	color : white;
}
.pagination a:hover:not(.active) {
	background-color : #ddd;
}

/* div#paging {
	margin-top : 60px;
} */
a#now {
	background-color : #8ccfa3;
}
